.fetch-api {
  position: relative;
  .item {
    &:hover {
      opacity: 0.8;
      .top {
        opacity: 1;
      }
    }

    img {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }
    .top {
      opacity: 0.1; // Hide
      top: 20px;
      right: 0;
      position: absolute;
      display: flex;
      padding-right: 20px;
      padding-left: 20px;
      z-index: 5;

      a {
        margin-left: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: hsla(0, 0%, 100%, 0.85);
        padding: 0 11px;
        text-align: center;
        height: 32px;
        font-size: 14px;
        line-height: 30px;
        display: inline-flex;

        .heart {
          fill: currentColor;
          color: red;
          height: 20px;
          line-height: 30px;
          margin: auto 0;
        }
      }
    }
  }
}
