.fetch-api {
  .list-group {
    width: 400px;
    li:hover {
      background-color: lightblue;
    }
    a {
      text-decoration: none;
    }
  }

  .exam1 {
    .item {
      &:hover {
        //opacity: 0.8;
        animation-name: Qed4z;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;

        .top,
        .bottom {
          opacity: 1;
        }

        img {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.5);
          transform: scale(1.005);
          cursor: zoom-in;
        }
      }

      img {
        margin: 10px;
      }
      .top {
        opacity: 0; // Hide
        top: 20px;
        right: 0;
        position: absolute;
        display: flex;
        padding-right: 20px;
        padding-left: 20px;
        a {
          margin-left: 10px;
          border: 1px solid transparent;
          border-radius: 4px;
          background-color: hsla(0, 0%, 100%, 0.85);
          padding: 0 11px;
          text-align: center;
          height: 32px;
          font-size: 14px;
          line-height: 30px;
          display: inline-flex;

          .heart {
            fill: currentColor;
            color: red;
            height: 20px;
            line-height: 30px;
            margin: auto 0;
          }
        }
      }
      *,
      body {
        box-sizing: border-box;
      }

      .bottom {
        opacity: 0; // Hide
        position: absolute;
        bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
        height: 32px;
        display: flex;
        pointer-events: none;
        left: 0;

        //User
        .user {
          flex: 1;
          min-width: 0;
          margin-right: 8px;
          transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;

          pointer-events: auto;
          display: inline-flex;
          align-items: center;
          max-width: 100%;
          position: relative;

          .userimg {
            margin-right: 8px;
            height: 32px;
            width: 32px;
          }
          .username {
            position: relative;
            min-width: 0;
          }
        }

        //Download
        .download {
          pointer-events: auto;
          transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
          color: #777;
          fill: currentColor;
          background-color: hsla(0, 0%, 100%, 0.85);
          border: 1px solid transparent;
          border-radius: 5px;
          height: 32px;
          padding: 0 11px;
          //font-size: 14px;
          //line-height: 30px;
          .down-icon {
            height: 24px;
            width: auto;
          }
        }
      }
    }
  }
}

//Modal
.OverlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: gray;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
  .modal-image {
    padding: 20px 70px 80px 70px;
    bottom: 50px;
  }
}
.modal-image {
  pointer-events: none;
  cursor: default;
  min-height: 100%;
  display: flex;
  justify-content: center;
  outline: none;

  //Button Close modal
  .modal-close {
    top: 0;
    left: 0;
    margin-top: 8px;
    margin-left: 8px;
    fill: #fff;
    pointer-events: auto;
    .btn-close {
      &:before {
        position: absolute;
        content: "";
        top: -20px;
        right: -20px;
        left: -20px;
        bottom: -20px;
      }

      position: relative;
      transition: all 0.2s ease-in-out;
      opacity: 0.8;
      fill: #fff;
      border: none;
      padding: 0;
      background-color: transparent;
      text-align: inherit;

      &:hover {
        box-shadow: none;
      }

      .sgv-close {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
  }
  @media (min-width: 768px) {
    .modal-close {
      position: fixed;
    }
  }

  //Body
  .modal-content {
    align-self: flex-start;
    flex-grow: 1;
    pointer-events: auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    min-width: 0;

    .content-body {
      padding-bottom: 40px;
      //body top
      .top {
        // position: -webkit-sticky;
        // position: sticky;
        top: 0;
        z-index: 1;
        // border-top-left-radius: 4px;
        // border-top-right-radius: 4px;
        // overflow: hidden;

        .top-header {
          display: flex;
          align-items: center;
          padding: 9px 12px;
          background-color: #fff;
          .HAAez {
            min-width: 0;
            flex-grow: 1;
            flex-basis: 200px;
          }

          @media (min-width: 768px) {
            .HAAez {
              margin-right: auto;
            }
          }
        }

        ._2iWc- {
          padding: 4px;
        }
        ._2iWc-,
        ._3-6v7 {
          display: flex;
        }
        ._2aPXR {
          pointer-events: auto;
          display: inline-flex;
          align-items: center;
          max-width: 100%;
        }

        ._2aPXR,
        ._2tX2R {
          position: relative;
        }

        ._2BNtU {
          margin-right: 8px;

          ._2aPXR,
          ._2tX2R {
            position: relative;
          }
          .ODWzM {
            position: relative;
            display: inline-block;
            line-height: 1;
            border-radius: 50%;
            overflow: hidden;
            vertical-align: middle;
            background-color: rgba(0, 0, 0, 0.1);
            width: 32px;
            height: 32px;
          }
          //img
          ._1FdcY {
            vertical-align: unset;
            width: 100%;
          }
          .ODWzM:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            pointer-events: none;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 50%;
          }
        }

        //avatar name
        ._80uCh {
          position: relative;
          min-width: 0;

          ._2tX2R {
            position: relative;
          }
          ._1O9Y0 {
            color: inherit;
          }

          ._3XzpS {
            display: block;
            font-size: 15px;
          }
          ._4kjHg {
            line-height: 1.35;
          }
          ._1O9Y0 {
            color: inherit;
          }
          ._3XzpS {
            display: block;
            font-size: 15px;
          }
          ._4kjHg {
            line-height: 1.35;
          }
          ._1ByhS {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          ._1CBrG {
            text-decoration: none;
          }
          .xLon9 {
            font-weight: 500;
          }
          .vTCGl {
            display: block;
            font-size: 11px;
            letter-spacing: 0.02em;
          }
          ._4kjHg {
            line-height: 1.35;
          }
          .vTCGl {
            display: block;
            font-size: 11px;
            letter-spacing: 0.02em;
          }
          ._4kjHg {
            line-height: 1.35;
          }
          ._1ByhS {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          ._1CBrG {
            text-decoration: none;
          }
        }

        //Top Like, Collect, download
        ._2iWc-,
        ._3-6v7 {
          display: flex;
          ._27vvN {
            flex-shrink: 0;
          }

          ._2iWc- {
            padding: 4px;
            ._1EJJ- {
              display: inline-flex;
            }
            ._1EJJ- {
              display: inline-flex;
            }
            ._37zTg {
              color: #999;
              fill: currentColor;
              background-color: #fff;
              border-color: #ddd;
            }
            ._1zIyn {
              display: inline-block;
              height: 32px;
              padding: 0 11px;
              font-size: 14px;
              line-height: 30px;
            }
            ._2Xklx {
              cursor: pointer;
            }
            ._1l4Hh {
              border: 1px solid transparent;
              border-radius: 4px;
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
              transition: all 0.2s ease-in-out;
              text-align: center;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            ._1CBrG {
              text-decoration: none;
            }
            .xLon9 {
              font-weight: 500;
            }
          }
          ._2iWc-,
          ._3-6v7 {
            display: flex;
          }

          ._2iWc- {
            padding: 4px;
          }
        }
        @media (min-width: 768px) {
          ._13Q- {
            width: 180px;
          }
        }
      }
    }
  }

  //Zoom
  @media (min-width: 768px) {
    .zoom {
      display: none;
    }
  }
  .zoom {
    ._2yFK- {
      background-color: #f5f5f5;
      position: relative;
      padding-bottom: 150%;
      ._2zEKz {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        padding-bottom: 150%;
      }
      img {
        vertical-align: middle;
        border: 0;
      }
    }
  }

  //Bodyimage
  .image-main {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    cursor: zoom-out;

    ._3mCZ_ {
      margin-left: auto;
      margin-right: auto;
      min-width: 334px;
      max-width: calc((100vh - 175px) * 0.666667);
      //button
      ._1YS_6 {
        cursor: zoom-in;
      }
      ._1szcv {
        display: block;
        text-align: left;
        width: 100%;
        position: relative;
        z-index: 0;
      }
      .DWLeW,
      .DWLeW:hover {
        box-shadow: none;
      }
      .DWLeW {
        border: none;
        padding: 0;
        background-color: transparent;
        text-align: inherit;
      }
      ._2MKkb {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.3s;
        padding: 16px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        ._1w7cG {
          padding: 4px;
          svg:not(:root) {
            overflow: hidden;
          }

          ._1NYtf {
            display: block;
            fill: #fff;
            width: 24px;
            height: 24px;
          }
          svg {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
          }
        }
      }

      ._2yFK- {
        background-color: #f5f5f5;
        position: relative;
        padding-bottom: 150%;
        ._2zEKz {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
        }
      }
    }
  }

  //Image bottom
  .bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 9px 12px;
    font-size: 12px;

    ._2DxLe {
      flex-basis: 0%;
      flex-grow: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 4px;

      ._28uSB {
        max-width: 100%;
        padding: 4px;
        ._2RL3a {
          display: flex;
          align-items: center;
          color: #111;
          text-decoration: none;
          font-weight: 500;
        }
      }
    }

    ._3dxKb,
    ._3kEvh {
      padding: 4px;
      .ldOpn {
        font-size: 12px;
      }
      ._10F2J {
        display: flex;
        align-items: center;
      }
      ._37zTg {
        color: #999;
        fill: currentColor;
        background-color: #fff;
        border-color: #ddd;
      }
      ._1zIyn {
        display: inline-block;
        height: 32px;
        padding: 0 11px;
        font-size: 14px;
        line-height: 30px;
      }
      ._2Xklx {
        cursor: pointer;
      }
      ._1l4Hh {
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        transition: all 0.2s ease-in-out;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      ._1CBrG {
        text-decoration: none;
      }
      .xLon9 {
        font-weight: 500;
      }
    }
  }
}

//User photo
.user-info {
  ._3nDcb {
    color: #fff;
    background-color: #007fff;
  }
  ._3nDcb:focus,
  ._3nDcb:hover {
    background-color: #006aff;
  }
  ._3nDcb:focus {
    box-shadow: 0 0 0 1px transparent, 0 0 0 3px hsla(0, 0%, 78.4%, 0.2);
  }
  ._3nDcb._2br-F {
    color: #999;
    background-color: hsla(0, 0%, 100%, 0.8);
    border: 1px solid #ddd;
  }
  ._3nDcb._2br-F:focus,
  ._3nDcb._2br-F:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #777;
  }
  ._3nDcb._2br-F:focus {
    box-shadow: 0 0 0 1px transparent, 0 0 0 3px hsla(0, 0%, 78.4%, 0.2);
  }
  ._3nDcb._2br-F ._2BKrY {
    display: none;
  }
  ._2BKrY {
    color: currentColor;
    fill: currentColor;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    position: relative;
    top: 2px;
  }
  ._2Eg7j {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.05));
  }
  ._2Eg7j,
  ._3VwhC {
    width: 32px;
    height: 32px;
  }
  ._3VwhC {
    position: absolute;
    top: 6px;
    right: 6px;
  }
  .FwktP {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
  ._6PxCM {
    background-color: #f1f1f1;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.1s ease-in-out;
    text-transform: capitalize;
    line-height: 26px;
    height: 26px;
    display: inline-block;
  }
  ._6PxCM:hover {
    background-color: #e1e1e1;
  }
  ._2_OE1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-left: -8px;
  }
  ._3Z-ua {
    padding-bottom: 8px;
    padding-left: 8px;
  }
  ._3-t2G {
    margin-bottom: -16px;
    margin-left: -16px;
  }
  ._3Q3x_ {
    padding-bottom: 16px;
    padding-left: 16px;
  }
  ._3wgv4 {
    line-height: 1.4;
  }
  @media (max-width: 767px) {
    ._3wgv4 ._3PQQV {
      margin-right: 4px;
    }
  }
  @media (min-width: 768px) {
    ._3wgv4 ._3PQQV {
      margin-right: 8px;
    }
  }
  ._20dNT {
    word-break: break-all;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-left: -24px;
  }
  ._2BqOk {
    padding-bottom: 8px;
    padding-left: 24px;
    min-width: 0;
  }
  ._32oHP {
    text-decoration: none;
  }
  ._32oHP:hover ._3PQQV {
    fill: #111;
  }
  ._3PQQV {
    width: 14px;
    height: 14px;
    margin-top: -2px;
    vertical-align: middle;
    transition-property: fill;
    transition-duration: 0.2s;
    fill: #999;
  }
  ._12enb {
    text-transform: lowercase;
  }
  ._3cEPI {
    color: #999;
  }
  ._2j6wN {
    overflow-wrap: break-word;
  }
  @media (min-width: 992px) {
    ._2j6wN {
      max-width: 70%;
    }
  }
  ._3i9Ic {
    margin-bottom: -8px;
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;
  }
  .I0HXQ {
    padding-bottom: 8px;
    padding-left: 8px;
  }
  ._20zR5 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  ._29ceT {
    font-size: 14px;
    line-height: 26px;
  }
  ._2-mq6 {
    height: 22px;
    width: 160px;
  }
  ._2cJY2 {
    height: 22px;
    width: 70%;
  }
  ._15wmA {
    border-radius: 2px;
    height: 26px;
    width: 80px;
  }
  ._2cMYV {
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
  ._3InY5 {
    margin-bottom: -16px;
    margin-left: 0;
  }
  .XmcS- {
    padding-bottom: 16px;
    padding-left: 0;
  }
  @media (min-width: 480px) {
    ._2227S {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: -24px;
      margin-left: -24px;
    }
  }
  @media (min-width: 480px) {
    ._1Fli6 {
      padding-bottom: 24px;
      padding-left: 24px;
    }
  }
  ._3FvGs {
    font-size: 21px;
  }
  @media (min-width: 768px) {
    ._3FvGs {
      font-size: 40px;
    }
  }
  ._2GhZ_ {
    margin-bottom: 6px;
  }
  @media (max-width: 479px) {
    ._2GhZ_ {
      height: 30px;
      width: 200px;
    }
  }
  @media (min-width: 480px) {
    ._2GhZ_ {
      height: 40px;
      width: 230px;
    }
  }
  ._3O5mp {
    margin-bottom: -8px;
    margin-left: -8px;
    display: flex;
  }
  @media (max-width: 479px) {
    ._3O5mp {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  ._17lgq {
    padding-bottom: 8px;
    padding-left: 8px;
  }
  ._2AmLz,
  .EXqH4 {
    position: relative;
  }
  .EXqH4 {
    top: -5px;
  }
  ._2DUB4 {
    right: 0;
    margin-top: 8px;
  }
  @media (max-width: 479px) {
    ._9G5GK {
      display: none;
    }
  }
  .p46HD {
    position: relative;
  }
  @media (max-width: 767px) {
    .p46HD {
      display: inline-block;
    }
  }
  @media (min-width: 768px) {
    .p46HD {
      margin-left: auto;
      margin-right: 32px;
    }
  }
  @media (min-width: 768px) {
    ._20Cor {
      display: flex;
    }
  }
  @media (max-width: 479px) {
    ._25B2U {
      position: relative;
    }
  }
  ._3mre1 {
    margin-bottom: -16px;
    margin-left: -24px;
  }
  @media (min-width: 768px) {
    ._3mre1 {
      display: flex;
    }
  }
  ._2FGz6 {
    padding-bottom: 16px;
    padding-left: 24px;
  }
  ._36Pa2 {
    padding: 12px;
  }
  ._1v5r1 {
    width: 100px;
    height: 32px;
  }
  .NvMsA {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @media (min-width: 768px) {
    .NvMsA {
      padding-top: 60px;
      padding-bottom: 72px;
    }
  }
}
