.login {
  position: relative;
  height: 100vh;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");
  background-size: cover;
  overflow: auto;
  //font-family: $openSans;

  .login__form {
    // position: relative;
    // margin: auto;
    // top: 5vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 20rem;
    overflow: hidden;
    background: linear-gradient(
      to bottom,
      rgba(146, 135, 187, 0.8) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  .mylogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 1rem;
  }

  svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: visible;
  }
  .svg-icon {
    cursor: pointer;

    path {
      stroke: rgba(255, 255, 255, 0.9);
      fill: none;
      stroke-width: 1;
    }
  }

  .login__body {
    padding: 1rem 2rem;
    .login__row {
      padding-top: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .login__input {
      display: inline-block;
      outline: none;
      border: none;
      background: transparent;
      color: #fdfcfd;
      padding-left: 0.2rem;
      width: 10rem;
    }
    .login__submit {
      margin-top: 1rem;
      width: 100%;
      border-radius: 10px;
      border: none;
      &:hover {
        background-color: deepskyblue;
      }
    }
    p {
      color: #fff;
    }
    hr {
      background: #fff;
    }
  }
}
